
{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Welcome to TaskMate </title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class = "row mt-5">
            <div class="col-lg-4">
                <img src="{% static 'images/notepad.jpg' %}" alt="Notepad" class="rounded-lg shadow-sm" width="360" height="250">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/notepad.jpg' %}" alt="Notepad" class="rounded-lg shadow-sm" width="360" height="250" >
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/notepad.jpg' %}" alt="Notepad" class="rounded-lg shadow-sm" width="360" height="250" >
            </div>
        </div>
        <div class = "row mt-5">
            <div class="col-md-6 offset-md-3">
                <center><p class = "h1 text-primary mt-3">To Do List App</p>
                <center><p class = "h2">Django/Python project by Brendan O'Connell based on <a href="https://www.udemy.com/course/complete-django-masterclass/">https://www.udemy.com/course/complete-django-masterclass/</a></p>
                <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow-sm">Get Started</button></a>

            </div>
        </div>
    
    </div>
{% endblock content %}